<div class="grid grid--1x2">
    <div style="height:300px; background-color:#fff5d9;padding:1rem;border-radius:0.5rem">
        <div>
            <ul class="list-inline">
                <li>Item no 1</li>
                <li>Item no 1</li>
                <li>Item no 1</li>
                <li>Item no 1</li>
                <li>Item no 1</li>
                <li>Item no 1</li>
                <li>Item no 1</li>
            </ul>
        </div>
    </div>
    <div style="height:300px; background-color:#d9f2ff;padding:1rem;border-radius:0.5rem">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, quae. Qui similique quidem repellat repudiandae? Maxime nisi
        accusantium, qui, est ducimus quod, sapiente laborum doloribus possimus exercitationem ratione earum a!
    </div>
    <button (click)="displayItems()" class="btn btn-primary">Click Here</button>
</div>