:root {
    --color-primary: #2584ff;
    --color-button: #75d0ff;
}

.grid {
    display: grid;
  }
.grid--1x2 {
    margin: 0.5rem;
    gap: 1rem 1rem;
}
.btn {
    padding: 1rem;
    width: 15rem;
    border-radius: 2rem;
    margin: 0 auto;
    border: none;
    cursor: pointer;
}

.list-inline {
    list-style: none;
    font-size: 1.5rem;
    padding-left: 2rem;
    margin-top: 2rem;
}


@media screen and (min-width: 768px) {
    .grid--1x2 {
      grid-template-columns: repeat(2, 1fr);
    }
}